body {
    background-color: #0c1022;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
}

.container {
    width: 80%;
    overflow: auto;
    border-style: double;
    border-color: #0c1022;
    border-radius: 15px;
    background-color: #C9CBD6;
    margin: auto;
}

#title {
    background-color: #28528A;
    height: 7vw;
    display: block;
    margin: 0;
    text-align: center;
    line-height: 7vw;
}

#player_info {
    text-align: center;
    border-top: 0px;
    border-bottom: 0px;
}

#money {
    width: 30%;
    display: inline-block;
}

#bet {
    width: 30%;
    display: inline-block;
}

#lines {
    width: 30%;
    display: inline-block;
}

#win_or_lose {
    padding-top: 10px;
    text-align: center;
}

#machine_left {
    width: 50%;
    padding: 20px 0 20px 0;
    float: left;
    text-align: center;
}

#machine_right {
    width: 50%;
    padding: 20px 0 20px 0;
    float: right;
}

.reel {
    background-color: #4F86C6;
    width: 8.5vw;
    display: inline-block;
    margin: 5px;
    box-shadow: 10px 10px 5px #28528A;
}

.cell {
    border-style: solid;
    border-color: black;
    width: 8vw;
    padding: 3vw 0;
    display: inline-block;
    text-align: center;
    font-size: 2vw;
    overflow: auto;
}

.bar {
    padding: 5px;
    text-align: center;
}

.bet_amt{
    background-color: #94A187;
    border: 2px solid black;
    width: 8vw;
    height: 4vw;
    margin: 10px;
    display: inline-block;
    text-align: center;
    line-height: inherit;
    font-size: inherit;
    font-family: inherit;
}

.bet_amt:hover {
    background-color: #3D4536;
    cursor: pointer;
}

.line_amt{
    background-color: #94A187;
    border: 2px solid black;
    width: 8vw;
    height: 4vw;
    margin: 10px;
    display: inline-block;
    text-align: center;
    line-height: inherit;
    font-size: inherit;
    font-family: inherit;
}

.line_amt:hover {
    background-color: #3D4536;
    cursor: pointer;
}

#spin {
    background-color: #28528A;
    border: 2px solid black;
    width: 75%;
    height: 4vw;
    margin: 10px;
    display: inline-block;
    text-align: center;
    line-height: inherit;
    font-size: inherit;
    font-family: inherit;
}

#spin:hover {
    background-color: #1D2033;
    cursor: pointer;
}

.shake {
    animation: shake .1s 5 alternate-reverse;
}

@keyframes shake {
    from {
        transform: rotate(-5deg);
    }
    to {
        transform: rotate(5deg);
    }
}