:root {
    --text-color: #E8C9B5;
    --main-bg-color: #000000;
    --secondary-bg-color: #191716;
    --main-color: #DD6E42;
    --container-color: #C0D6DF;
    --reel-color: #61534A;
    --button-color: #8B532F;
    --button-hover-color: #0D0805;
    --spin-hover-color: #8B532F
}

body {
    background-image: linear-gradient(var(--main-bg-color) 1%, var(--secondary-bg-color));
    font-family: "Exo 2", sans-serif;
    color: var(--text-color);
    font-size: 15px;
}

.container {
    width: 80%;
    overflow: auto;
    border-radius: 5px;
    margin: auto;
}

#title {
    color: var(--main-color);
    height: 7vw;
    display: block;
    margin: 0;
    text-align: left;
    line-height: 7vw;
}

#player_info {
    text-align: center;
    border-style: solid;
    border-color: var(--main-bg-color);
    background-image: linear-gradient(var(--secondary-bg-color), var(--main-bg-color));
}

#money {
    width: 30%;
    display: inline-block;
}

#bet {
    width: 30%;
    display: inline-block;
}

#lines {
    width: 30%;
    display: inline-block;
}

#win_or_lose {
    padding-top: 10px;
    text-align: center;
}

#machine {
    background-image: linear-gradient(var(--secondary-bg-color), var(--main-bg-color));
    border-style: solid;
    border-color: var(--main-bg-color);
}

#machine_left {
    width: 50%;
    padding: 20px 0 20px 0;
    float: left;
    text-align: center;
}

#machine_right {
    width: 50%;
    padding: 20px 0 20px 0;
    float: right;
}

.reel {
    background-color: var(--reel-color);
    width: 8.5vw;
    display: inline-block;
    margin: 5px;
    box-shadow: 10px 10px 5px var(--main-color);
}

.cell {
    border-style: solid;
    border-color: black;
    width: 8vw;
    padding: 3vw 0;
    display: inline-block;
    text-align: center;
    font-size: 2vw;
    overflow: auto;
}

.bar {
    padding: 5px;
    text-align: center;
}

.bet_amt {
    background-color: var(--button-color);
    border: 2px solid black;
    width: 8vw;
    height: 4vw;
    margin: 10px;
    display: inline-block;
    text-align: center;
    line-height: inherit;
    font-size: inherit;
    font-family: inherit;
    color: inherit;
}

.bet_amt:hover {
    background-color: var(--button-hover-color);
    cursor: pointer;
}

.line_amt {
    background-color: var(--button-color);
    border: 2px solid black;
    width: 8vw;
    height: 4vw;
    margin: 10px;
    display: inline-block;
    text-align: center;
    line-height: inherit;
    font-size: inherit;
    font-family: inherit;
    color: inherit;
}

.line_amt:hover {
    background-color: var(--button-hover-color);
    cursor: pointer;
}

#spin {
    background-color: var(--main-color);
    border: 2px solid black;
    width: 75%;
    height: 4vw;
    margin: 10px;
    display: inline-block;
    text-align: center;
    line-height: inherit;
    font-size: inherit;
    font-family: inherit;
    color: inherit;
}

#spin:hover {
    background-color: var(--spin-hover-color);
    cursor: pointer;
}

.shake {
    animation: shake 0.5s 1 ease-out;
}

@keyframes shake {
    0% {
        transform: rotate(-5deg);
    }
    25% {
        transform: rotate(4deg);
    }
    50% {
        transform: rotate(-3deg);
    }
    75% {
        transform: rotate(2deg);
    }
    100% {
        transform: rotate(0deg);
    }
}